@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.container {
  @include container;
  display: flex;
  align-items: center;
  gap: $space-lg;

  /* Desktop */
  flex-direction: row;
  text-align: left;

  /* Tablet & mobile */
  @include respond-md {
    flex-direction: column;
    text-align: center;
  }
}

.content {
  flex: 1;

  h1 {
    margin-bottom: $space-md;
    line-height: 1.15;
  }

  p {
    font-size: $font-size-sm;
    line-height: 1.7;
    max-width: 380px;
    margin-bottom: $space-md;
    color: $color-text-primary;
  }
}

/* ⬇️ BAŞLIKLAR ROOT SEVİYE */
.titleDark {
  font-size:$font-size-xl; // ≈ 52px
  font-weight: 700;
  color: #354e57;
  display: block;
}

.titleGreen {
  font-size:$font-size-xl;
  font-weight: 700;
  color: #87c241;
  display: block;
}

.cta {
  font-size: $font-size-md;
  font-weight: $font-weight-bold;
  padding: 0.675rem 1.75rem;
  border-radius: 0.5rem;
  color: $color-primary;
  border: 3px solid $color-primary;
  background-color: #fff;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: $color-primary;
  }
}

.imageWrapper {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  /* Arka plan dairesi */
  &::before {
    content: "";
    position: absolute;
    width: 34rem;
    height: 34rem;
    background-color: #f5f5f5;
    border-radius: 50%;
    z-index: 1;
  }

  img {
    position: relative;
    z-index: 2;
    max-width: 100%;
    height: auto;
  }

  @include respond-md {
    &::before {
      width: 35rem;
      height: 35rem;
    }
  }
}
