@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

/* ROOT */
.hero {
  padding: $space-lg 0;

  @include respond-md {
    padding: $space-md 0;
  }
}

/* CONTAINER */
.heroContainer {
  @include container;
  display: flex;
  align-items: center;
  gap: $space-lg;

  flex-direction: row;
  text-align: left;

  @include respond-md {
    flex-direction: column;
    text-align: center;
    gap: $space-md;
  }
}

/* CONTENT */
.content {
  flex: 1;

  h1 {
    margin-bottom: $space-md;
    line-height: 1.15;
  }

  p {
    font-size: $font-size-sm;
    line-height: 1.7;
    max-width: 380px;
    margin-bottom: $space-md;
    color: $color-text-primary;

    @include respond-md {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include respond-md {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* TITLES */
.titleDark,
.titleGreen {
  display: block;
  font-weight: 700;
  font-size: $font-size-xl;

  @include respond-lg {
    font-size: 40px;
  }

  @include respond-md {
    font-size: 32px;
  }

  @include respond-sm {
    font-size: 28px;
  }
}

.titleDark {
  color: $color-text-primary;
}

.titleGreen {
  color: $color-primary;
}

/* CTA */
.cta {
  font-size: $font-size-md;
  font-weight: $font-weight-bold;
  padding: 0.675rem 1.75rem;
  border-radius: 0.5rem;
  color: $color-primary;
  border: 3px solid $color-primary;
  background-color: #fff;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: $color-primary;
  }
}

/* IMAGE */
.imageWrapper {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    width: 34rem;
    height: 34rem;
    background-color: #f5f5f5;
    border-radius: 50%;
    z-index: 1;
  }

  img {
    position: relative;
    z-index: 2;
    max-width: 100%;
    height: auto;
  }

  @include respond-md {
    justify-content: center;

    &::before {
      width: 26rem;
      height: 26rem;
    }
  }

  @include respond-sm {
    &::before {
      width: 20rem;
      height: 20rem;
    }
  }
}
