@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.header {
  width: 100%;
  padding-top: $space-lg;
}

.container {
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.login {
  font-size: $font-size-xs;
  font-weight: $font-weight-semi-bold;
  color: $color-text-primary;
  text-decoration: none;
  border: none;
  background: none;

  &:hover {
    color: $color-primary;
  }
}
