@use "@/styles/variables" as *;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 8vh;
  z-index: 1000;
}

/* modal */
.modal {
  background: white;
  width: 600px;
  padding: 4rem;
  border-radius: 40px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.3);
  text-align: center;

  animation: slideDown 0.35s ease-out forwards;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: $color-primary;
  border-radius: 9999px;
  margin: $space-xs 0 $space-md;
}

.title {

  color: $color-primary-dark;
  font-size: 32px;
  font-weight: $font-weight-bold;
  margin: $space-md 0;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  gap: $space-sm;

  input {
    height: 56px; // ⬅️ DAHA BÜYÜK
    padding: 0 1.25rem;
    border: none;
    background: #f5f7f8;
    font-size: $font-size-md;
    border-left: 5px solid $color-primary;
    letter-spacing: 1px;
    font-family: $font-family-base;
    color: $color-text-primary;

    &:focus {
      outline: 2px solid $color-primary;
      background: white;
    }
      &::placeholder {
      color: #b0b8bc; // Email ID / Password rengi
      font-weight: $font-weight-regular;
      letter-spacing: 0.5px;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  button {
    height: 64px;
    margin-top: 0.5rem;
    background: $color-primary;
    color: white;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background: $color-primary-dark;
    }
  }
}

.links {
  display: flex;
  justify-content: space-between;
  font-size: $font-size-sm;
  margin: 0.5rem 0 1rem;

  a {
    color: $color-text-secondary;
    text-decoration: none;

    &:hover {
      color: $color-primary;
      text-decoration: underline;
    }
  }
}

/* =========================
   ANIMATIONS
========================= */

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
